*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*nav start*/
.nav-main{
    color: white;
    padding: 20px;
    justify-content: space-between;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
}
.name-company{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    background-color: lightslategray;
}
.nav-bt{
    color: white;
    padding: 5px;
    margin-left: 5px;
    border-radius: 6px;
    background-color: black;
}
.nav-hamburger-menu{
    display: none;
}
.btn-bg{
    
}
/*nav end*/
