*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*nav start*/
.nav-main{
    color: white;
    padding: 20px;
    justify-content: space-between;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
}
.name-company{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    background-color: lightslategray;
}
.nav-bt{
    color: white;
    padding: 5px;
    margin-left: 5px;
    border-radius: 6px;
    background-color: black;
}
.nav-hamburger-menu{
    display: none;
}
/*banner start */
.main-content{
    max-width:1200px;
    margin: 0 auto;
    min-height:400px;
}
.main-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(242, 242, 242);
}
.banner-child{
    width: 47%;
    position: relative;

}
.banner-btn{
    border: 2px solid gray;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 10px;
}
.banner-child img{
    width: 100%;
    border-radius: 10px;
}

.fifty-off{
    background-color: rgba(0, 0, 0, 0.663);
    font-size: 25px;
    border-radius: 10px;
    width: max-content;
    position: absolute;
    top: 40%;
    left: 30%;
    color: white;
    padding: 20px 50px;

}

/*nav end*/
.btn-bg{
    padding: 10px;
}
.collection{
   text-align: center;
   margin-top: 10px;
}
/*car start*/
.main-card{
    background-color: rgb(244, 240, 240);
    min-height: 200px;
    margin-top: 20px;
}
.card{
    border: 3px solid gray;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
